*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: arial;

	background: white url("../img/image_background.jpg") top left no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#wip{
	position: fixed;
	z-index: 10;
	top: 1%;
	left: 1%;

	background-color: black;
	color: white;
	text-align: center;
	padding: 2px;
	border-radius: 5px;
}

#haut{	
	background-color: #F2F4F7;
}

#monnom{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(207, 0, 15);
	background-color: rgba(119, 133, 151, 0.5);
	
	border-left: 5px solid #c0392b;
	border-right: 5px solid #c0392b;

}

#monnom h1{
	margin: 30px;
	margin-bottom: 70px;	
}

#monnom img{
	position: absolute;
	max-width: 10%;
	height: auto;

	top: 75%;
	left: 88%;
}

#flecheVersMenu{
	position: absolute;
	width: 40px;
	height: 40px;

	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}


#flecheVersMenu:hover{
	background-color: rgba(192,57,43, 0.5);
	padding: 5px;
	padding-bottom: 3px;
	border-radius: 22px;
}
	
#listMenu{
	list-style-type: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: #778597;
	width: auto;
	height: auto;
}

.unMenu{
	padding: 1%;
}

.posAbso{
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 0px;
	width: 100%;
}

.animMenu{
	position: absolute;
	z-index: 1;
	background-color: #c0392b;
}

#listMenu a{
	position: relative;
	z-index: 50;
	color: #ecf0f1;
	text-decoration: none;
}

article{
	background-color: #E0E0E0FF;
	
	padding: 50px;
	margin-right: 20%;
	margin-left: 20%;
}

article h2{
	text-align: center;
	margin: 5%;
	text-transform: uppercase;
}

article h3{
	margin-left: 80px;
	margin-bottom: 10px;
	margin-top: 50px;

	font-weight: normal;
}

article ul{
	margin-left: 20px;
}

article p, article ul li{
	font-size: 15px;
}

article p{
	text-align: justify;
}

.conteneurLoader{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;

}

.conteneurLoader p{
	margin-right: 10px;
}

.loader{
	position: absolute;
	z-index: 0;
	width: 30%;
	right: 25%;

	margin-left: 10px;
	
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #778597;
	
}

.loader p{
	position: absolute;
	display: none;	
	color: #F2F4F7;
}

.load{
	background-color: #c0392b;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.hobbies a{
	text-decoration: underline;
	color: black;
}

.hobbies a:hover{
	text-decoration: none;
	color: #c0392b;
}


.uneEduQual{
	display: flex;
	margin-bottom: 20px;
}

.uneEduQual a{
	text-decoration: underline;
	color: black;
}

.uneEduQual a:hover{
	text-decoration: none;
	color: #c0392b;
}

.contenueEduQual{
	margin-left: 20%;

}

.lieu{
	font-size: 13px;
}

.diplometext{
	font-weight: 550;
}

#flecheRetourMenu{
	position: fixed;
	z-index: 1;
	top: 80%;
	left: 7%;

	width: 40px;
	height: 40px;

	background-color: rgba(224,224,224, 0.5);
	padding: 5px;
	padding-top: 3px;
	border-radius: 22px;	
}

.displaynone{
	display: none;
}

#flecheRetourMenu:hover{
	background-color: rgba(192,57,43, 0.5);
}

footer{
	background-color: #778597;
	padding: 10px;
	font-size: 12px;
	text-align: center;
}

footer p{
	margin-bottom: 3px;
}

footer .logo{
	width: 30px;
	height: auto;
	padding: 5px;
	border-radius: 5px;
}



